<div class="newsletter {% if newsletter == 'center' %}center{% endif %}">
  {% comment %}<p class="message"></p>{% endcomment %}
  {% if settings.mailchimp_hpl != blank %}
    <form action="{{ settings.mailchimp_hpl }}" method="post" name="mc-embedded-subscribe-form" class="contact-form" target="_blank">
      {% comment %}
        <input type="text" value="" name="MERGE1" id="MERGE1" placeholder="{{ 'general.newsletter_form.subscriber_first_name' | t }}">
        <input type="text" value="" name="MERGE2" id="MERGE2" placeholder="{{ 'general.newsletter_form.subscriber_last_name' | t }}">
      {% endcomment %}
      <input type="email" value="" name="MERGE0" id="MERGE0" class="contact_email" placeholder="Sign up for our newsletter">
      <input type="submit" value="Join" class="action_button sign_up" name="subscribe" />
    </form>
  {% else %}
    {% form 'customer' %}
       {% if form.posted_successfully? %}
         <p><em>{{ 'general.newsletter_form.success_text' | t }}</em></p>
       {% elsif form.errors %}
         {% for field in form.errors %}
           <p><em>{{ field }} - {{ form.errors.messages[field] }}</em></p>
         {% endfor %}
       {% endif %}

      {% if template contains "password" %}
        <input type="hidden" name="contact[tags]" value="prospect,password page"/>
      {% else %}
        <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
      {% endif %}
       <input type="email" class="contact_email" name="contact[email]" required placeholder="{{ 'general.newsletter_form.placeholder' | t }}" />
       <input type='submit' class="action_button sign_up" value="Join" />
     {% endform %}
  {% endif %}
</div>
