<div class="flexslider testing-new-page">
  <ul class="slides">
    <li>
                          <a href="{{ settings.image_1_link }}">
<div id="slide-1" class="slide">
        <div class="bcg" data-anchor-target="#slide-1">
            <div class="hsContainer">
				<div class="hsContent {{ settings.image_1_text_align }}"></div>
            </div>
        </div>
    	</div>
                                            </a>

    </li>
    <li>
                                      <a href="{{ settings.image_2_link }}">
<div id="slide-2" class="slide">
        <div class="bcg" data-anchor-target="#slide-2">
            <div class="hsContainer">
                <div class="hsContent">
                        {{ settings.image_2_button_text }}
                </div>
            </div>
        </div>
    	</div>
                                                              </a>

    </li>
    <li>
                                <a href="{{ settings.image_3_link }}">
<div id="slide-3" class="slide">
        <div class="bcg" data-anchor-target="#slide-3">
            <div class="hsContainer">
				<div class="hsContent {{ settings.image_3_text_align }}"></div>
            </div>
        </div>
    	</div>
                                                  </a>

    </li>
        <li>
                               <a href="{{ settings.image_4_link }}">
 <div id="slide-4" class="slide">
        <div class="bcg" data-anchor-target="#slide-4">
            <div class="hsContainer">
				<div class="hsContent {{ settings.image_4_text_align }}"></div>
            </div>
        </div>
    	</div>
                                                 </a>

    </li>
  </ul>
</div>
