<div class="main_image_area">
  <div class="container marketing_text ui grid stackable z-more">
    <div class="column sixteen wide">
      <h1 class="uppercase">Feel Better Every Day</h1>
      <h2>with the best of broccoli</h2>
      <a href="/pages/how-it-works" class="button is-link is-inverted is-outlined">Learn More</a>
    </div>
  </div>
  <div class="footer-sprouts">
    <div class="footer-sprouts-inner">

    </div>
  </div>
</div>


<div class="container ui centered grid stackable our_mission">
  <div class="center aligned column twelve wide computer twelve wide tablet is-size-3 valign">
    <div style="margin-top:40%;">
      <span class="green-uppercase">Mission</span> to pioneer and cultivate wellness for generations to thrive.
    </div>
  </div>
</div>

<div class="main_image_area larger">
  <div class="with_shaded_bg is-flex valign-contents">
    <div class="container valign-contents columns">
      <div class="column is-one-third is-hidden-mobile">
        <img id="john-bottle" src="{{ 'john-hugging-bottle.png' | asset_url }}" />
      </div>
      <div class="column is-two-thirds">
        <p class="is-size-3-4"><span class="green-uppercase">Why Broccoli?</span> We know the cruciferous family (broccoli, cauliflower,
        cabbage, etc.) has exceptional health advantages. Sulforaphane, the active ingredient in broccoli, has been named the most powerful,
        natural compound that promotes well being. Literally thousands of studies are pointing to the incredible health benefits.
        </p>
        <p class="is-size-3-4 padding top one"><span class="green-uppercase">How does this help?</span> Sulphoraphane, the best of broccoli,
        blocks inflammation, restores brain function, stimulates detoxification, turns on antioxidant pathways, which help prevent cellular
        damage like aging. BrocElite is a stabilized sulforaphane.
        </p>
        <p class="is-size-3-4 padding top one"><span class="green-uppercase">What now?</span> Take 1 in the morning and 1 at night. This
        activates the cycle you need to receive the benefits we know we need.
        </p>
      </div>
    </div>
  </div>
<div class="height-120">
  <div class="container marketing_text ui grid">
    <div class="column sixteen wide center-align-text">
      <h3 class="uppercase">Sulforaphane, the <span class="gold">gold</span> in broccoli</h3>
    </div>
  </div>
  </div>
</div>

<!--<div class="hide-overflow">
  <div class="broccoli-miners">
  </div>
</div>-->

<div class="container ui centered grid slide-height smaller valign-contents direction-column">
  <div class="column sixteen wide center-align-text">


    <div class="uppercase margin top five is-size-2 is-bold green-uppercase">"Why can't I just eat more broccoli?"</div>

    <!--<div class="margin top five is-size-3-4">Look at how much broccoli you would have to eat to get the health benefits of Sulforaphane, the gold in broccoli.</div>-->

    <div>
    <img src="{{ 'arrow-down.svg' | asset_url }}"  style="width:60%; height:auto;" class="margin top two" />
    </div>

  </div>
</div>

<div class="gray-bg slide-height larger-mobile valign-contents direction-column">
  <div class="container ui centered grid stackable flex-center hack-valign columns is-multiline is-centered">
    <div class="column is-12 center-align-text">
      <div class="uppercase margin top two is-size-2 is-bold green-uppercase">Broccoli Breakdown</div>
      <div class="uppercase margin top two is-size-3-4">
        How much would you need to eat in <b>1 day</b> to get the benefits of Sulforaphane
      </div>
    </div>
    <div class="column is-3 center-align-text">
      <img src="{{ 'homepage-girl.png' | asset_url }}" class="svg-smaller" />
      <div class="uppercase">7.5 lbs. of <span class="">fresh</span> mature broccoli</div>
    </div>
    <div class="column is-1 is-narrow center-align-text is-hidden-mobile">
      <img src="{{ 'equals-sprite.svg' | asset_url }}" class="svg-larger" />
    </div>
    <div class="column is-3 center-align-text">
      <img src="{{ 'homepage-beaker.png' | asset_url }}" class="svg-medium" />
      <div class="uppercase">2.4 ounces of broccoli sprouts</div>
    </div>
    <div class="column is-1 is-narrow center-align-text is-hidden-mobile">
      <img src="{{ 'equals-sprite.svg' | asset_url }}" class="svg-larger" />
    </div>
    <div class="column is-3 center-align-text">
      <img src="{{ 'homepage-tablespoon.png' | asset_url }}" class="svg-medium" />
      <div class="uppercase">1 tablespoon of BrocElite<sup>&trade;</sup></div>
    </div>
  </div>
</div>
