  <div id="slide-collection">
    <div class="bcg"
        data-bottom-top="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-collection">
          <div class="hsContainer">
            <div class="hsContent center">
            </div>
          </div>
    </div>
  </div>
  <a name="pagecontent" id="pagecontent"></a>
  <div class="ui grid">

    <div class="twelve wide column centered">
  <h1 class="center">
    {{ page.title }}
  </h1>
  <div class="feature_divider"></div>

  <div>


        <div class="faq-tabs">

          <div class="toggle">
	<div class="toggle-title ">
		<h3>
		<i></i>
		<span class="title-name">{{ settings.faq-question1 }}</span>
		</h3>
	</div>
	<div class="toggle-inner">
		<p>{{ settings.faq-answer1 }}</p>
	</div>
	</div><!-- END OF TOGGLE -->

                    <div class="toggle">
	<div class="toggle-title ">
		<h3>
		<i></i>
		<span class="title-name">{{ settings.faq-question2 }}</span>
		</h3>
	</div>
	<div class="toggle-inner">
		<p>{{ settings.faq-answer2 }}</p>
	</div>
	</div><!-- END OF TOGGLE -->

                    <div class="toggle">
	<div class="toggle-title ">
		<h3>
		<i></i>
		<span class="title-name">{{ settings.faq-question3 }}</span>
		</h3>
	</div>
	<div class="toggle-inner">
		<p>{{ settings.faq-answer3 }}</p>
	</div>
	</div><!-- END OF TOGGLE -->

                    <div class="toggle">
	<div class="toggle-title ">
		<h3>
		<i></i>
		<span class="title-name">{{ settings.faq-question4 }}</span>
		</h3>
	</div>
	<div class="toggle-inner">
		<p>{{ settings.faq-answer4 }}</p>
	</div>
	</div><!-- END OF TOGGLE -->


                    <div class="toggle">
	<div class="toggle-title ">
		<h3>
		<i></i>
		<span class="title-name">{{ settings.faq-question5 }}</span>
		</h3>
	</div>
	<div class="toggle-inner">
		<p>{{ settings.faq-answer5 }}</p>
	</div>
	</div><!-- END OF TOGGLE -->


                    <div class="toggle">
	<div class="toggle-title ">
		<h3>
		<i></i>
		<span class="title-name">{{ settings.faq-question6 }}</span>
		</h3>
	</div>
	<div class="toggle-inner">
		<p>{{ settings.faq-answer6 }}</p>
	</div>
	</div><!-- END OF TOGGLE -->


                    <div class="toggle">
	<div class="toggle-title ">
		<h3>
		<i></i>
		<span class="title-name">{{ settings.faq-question7 }}</span>
		</h3>
	</div>
	<div class="toggle-inner">
		<p>{{ settings.faq-answer7 }}</p>
	</div>
	</div><!-- END OF TOGGLE -->


                    <div class="toggle">
	<div class="toggle-title ">
		<h3>
		<i></i>
		<span class="title-name">{{ settings.faq-question8 }}</span>
		</h3>
	</div>
	<div class="toggle-inner">
		<p>{{ settings.faq-answer8 }}</p>
	</div>
	</div><!-- END OF TOGGLE -->

                              <div class="toggle">
	<div class="toggle-title ">
		<h3>
		<i></i>
		<span class="title-name">{{ settings.faq-question9 }}</span>
		</h3>
	</div>
	<div class="toggle-inner">
		<p>{{ settings.faq-answer9 }}</p>
	</div>
	</div><!-- END OF TOGGLE -->

                              <div class="toggle">
	<div class="toggle-title ">
		<h3>
		<i></i>
		<span class="title-name">{{ settings.faq-question10 }}</span>
		</h3>
	</div>
	<div class="toggle-inner">
		<p>{{ settings.faq-answer10 }}</p>
	</div>
	</div><!-- END OF TOGGLE -->

                              <div class="toggle">
	<div class="toggle-title ">
		<h3>
		<i></i>
		<span class="title-name">{{ settings.faq-question11 }}</span>
		</h3>
	</div>
	<div class="toggle-inner">
		<p>{{ settings.faq-answer11 }}</p>
	</div>
	</div><!-- END OF TOGGLE -->

                              <div class="toggle">
	<div class="toggle-title ">
		<h3>
		<i></i>
		<span class="title-name">{{ settings.faq-question12 }}</span>
		</h3>
	</div>
	<div class="toggle-inner">
		<p>{{ settings.faq-answer12 }}</p>
	</div>
	</div><!-- END OF TOGGLE -->


    </div>
    <p> </p>
                  {{ page.content }}


  </div>
</div>
