<div class="is-hidden-desktop" style="width:1px; height:40px;"></div>

<div class="sketch-with-ships">

  <div class="about_image_area_one">
    <div class=" contact_text columns is-multiline top margin four">
      <div class="is-5 is-offset-1 is-size-5 column transparent-gradient-bg">
      Our story begins out of necessity.  A necessity to help a dear friend in need.  A necessity to find alternatives
      to support cellular health when there are no clear answers.  A necessity to bring to market valued, effective,
      and reliable supplements. This necessity has brought four friends together with a commitment to continue to
      help people in their journey towards health and wellness.
      </div>
    </div>
  </div>

  <div class="about_image_area_two">
    <div class="container contact_text columns is-multiline">
      <div class="is-5 is-size-5 column is-offset-8 transparent-gradient-bg">
      As a researcher, scientist, practitioner, and guide, we forged together to find those answers.  SULFORAPHANE proved
      to be an outstanding compound.  The challenge was to make this into a supplement that could be readily consumed and
      and actually be effective.  With time and effort, we have created BrocElite, a stabilized sulforphane.
      </div>
    </div>
  </div>

  <div class="about_image_area_three">
    <div class=" contact_text columns is-multiline">
      <div class="is-4 is-offset-1 is-size-5 column transparent-gradient-bg">
      So join us as we navigate the tides of inflammation and degeneration, towards calmer waters that deliver life and
      vitality.
      </div>
    </div>
  </div>

</div>



<section>
  <div class="container">
    <h1 class="green-text has-text-centered normal-text is-size-1">BrocElite is pioneering and cultivating wellness for
    generations to thrive.</h1>
  </div>
</section>


<section class="founders-bios">
  <div class="container">
    <div class="columns">
      <div class="column is-3 has-text-centered">
        <figure class="image is-128x128 center-element">
          <img class="is-rounded" src="{{ 'martin-avatar.jpg' | asset_url }}">
        </figure>
        <h3>John Gildea, PhD</h3>
        <p>
          John Gildea is a Hopkins-trained PhD with 60 scientific publications from over 20 NIH-funded studies.  He is an expert
          in cell culture and exosomes, performing all the science behind gut supplement RESTORE.  John was instrumental in
          stabilizing the sulforaphane in BrocElite.
        </p>
        <img src="{{ 'stick-fig-john.gif' | asset_url }}" class="is-hidden-mobile" />
      </div>
      <div class="column is-3 has-text-centered">
        <figure class="image is-128x128 center-element">
          <img class="is-rounded" src="{{ 'david-avatar.jpg' | asset_url }}">
        </figure>
        <h3>David Roberts</h3>
        <p>
          David Roberts, holds a MPH from Hopkins, a Masters in BME from the UVA and Bachelors in EE and BME from Duke. David
          has more than 20 years of public experience on three continents.  In 2014 David cofounded the gut supplement, RESTORE.
        </p>
        <img src="{{ 'stick-fig-david.gif' | asset_url }}" class="is-hidden-mobile" />
      </div>
      <div class="column is-3 has-text-centered">
        <figure class="image is-128x128 center-element">
          <img class="is-rounded" src="{{ 'john-avatar.jpg' | asset_url }}">
        </figure>
        <h3>Martin Katz, MD</h3>
        <p>
          Martin Katz, MD is double board certified in Sports and Family medicine.  He has experience in disease prevention
          through exercise and nutrition.  He is currently an attending physician at Downtown Family Health in
          Charlottesville, VA.
        </p>
        <img src="{{ 'stick-fig-martin.gif' | asset_url }}" class="is-hidden-mobile" />
      </div>
      <div class="column is-3 has-text-centered">
        <figure class="image is-128x128 center-element">
          <img class="is-rounded" src="{{ 'kevin-avatar.jpg' | asset_url }}">
        </figure>
        <h3>Kevin Rhodes</h3>
        <p>
          Kevin Rhodes has over twenty years in start-up ventures in the fields of alternative energy, agriculture, and
          biotechnology. He served as the COO and Director of Finance for Beef Plus Inc.  He has a B.A. in Human Biology
          from Stanford University.
        </p>
        <img src="{{ 'stick-fig-kevin.gif' | asset_url }}" class="is-hidden-mobile" />
      </div>
    </div>
  </div>
</section>










<section class="trust-nature">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1">
        <h1 class="green-text has-text-centered normal-text is-size-1">We can trust nature and so nature is what we use.</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-3 is-offset-4 is-flex centered-elements">
        <img src="{{ 'sprouts-full.jpg' | asset_url }}" />
      </div>
    </div>
  </div>
</section>

<section class="scroll-area">
  <div class="container">

    <div class="columns">
      <div class="column is-6">
      <h2 class="green-text">
        Rooted in Science.
      </h2>
      <p class="green-text">
        When we think science, we think nature.  With our understanding of what chemicals and toxins do to the body,
        we choose to simply study what nature has to offer, so you can use it.
      </p>
      </div>

      <div class="column is-6" id="trigger1">
        <img src="{{ 'water-drop.jpg' | asset_url }}" id="sticky-image-1" />
      </div>
    </div>

    <div class="columns">
      <div class="column is-6">
      <h2 class="green-text">
        Broccoli?
      </h2>
      <p class="green-text">
        Who knew? Well, apparently just about everyone.  There are over <b>10,000 peer reviewed articles </b> on this
        nutriceutical (fancy word for foods that benifit our body) called <b>sulforphane</b>.
      </p>
      <p class="green-text is-hidden-mobile">
        The literature has been
        crying out for this natural chemical, but no one was able to actually put it into a capsule so people could take
        it daily, until now.  Before growing broccoli sprouts was the only way to <b> get the amount you need </b> so
        your body could benefit.  But now you can take BrocElite.
      </p>
      </div>
      <div class="column is-6">
        <img src="{{ 'broccoli-gradient-bg.jpg' | asset_url }}" class="full-size-image" />
      </div>
    </div>

    <div class="columns">
      <div class="column is-6">
      <h2 class="green-text">
        Why is sulforaphane (SFN) good for you?
      </h2>
      <p class="green-text is-hidden-mobile">
        SFN (much easier to pronounce) helps the root problem in the body. When we get a root problem, fix the kitchen
        sink figured out it helps all the things it affects aka the fruit.
      </p>
      <p class="green-text">
        Science tells us SFN cools down the cell (the
        root) so it can function properly again and help major joint areas like knees, the brain, and hands (the fruit)
        feel better and work better. Did we mention we tried this out on our families first and they love it?
      </p>
      </div>
      <div class="column is-6">
        <img src="{{ 'microscope.jpg' | asset_url }}" class="full-size-image" />
      </div>
    </div>

    <div class="columns">
      <div class="column is-6">
      <h2 class="green-text">
        No fillers.
      </h2>
      <p class="green-text">
        We want to have pure ingredients from nature that work.
      </p>
      <p class="green-text is-hidden-mobile">
        We never wanted to go into the supplement industry, but
        the people we loved needed this, and we found that most companies are not straight forward in what they are
        putting in their products and adding things like fillers (natural or synthetic) and fluff to their marketing.
      </p>
      <p class="green-text">
        What you see is what you get.  So ask us anything.  We are here for you.
      </p>
      </div>
      <div class="column is-6">
        <img src="{{ 'chemical-powder.jpg' | asset_url }}" class="full-size-image" />
      </div>
    </div>
  </div>
</section>




<script>
/*
$(function() {
    var controller = new ScrollMagic.Controller();
    var containerScene = new ScrollMagic.Scene({
        triggerElement: '#trigger1',
        duration: 300
    })
    .addIndicators({name: "1 (duration: 300)"})
    .setPin("#sticky-image-1")
    .addTo(controller)
    .on("progress", function (e) {
	     if (e.progress.toFixed(3) == 1) {
       console.log($('#sticky-image-1').attr('src', 'https://cdn.shopify.com/s/files/1/2807/1756/t/13/assets/broccoli-gradient-bg.jpg?3519'));
       }
		});
});
*/
</script>
