<div class="columns">
  <div class="column is-10 is-offset-1">
    <h1 class="green-text has-text-centered	">Sulforaphane, the Best Natural Ingredient</h1>
    <h2 class="has-text-centered">For Inflammation Support</h2>
  </div>
</div>

<div class="joints_hurt">
  <div class="columns is-multiline position-down">
    <div class="column is-hidden-desktop spacer-height-medium">
    </div>
    <div class="column is-5 has-text-centered">
      <font class="is-size-1 is-uppercase green-text">
        Do your joints hurt?
      </font>
      <figure class="image">
        <img src="{{ 'BrocEliteJar_new_dec.2018_smaller.png' | asset_url }}" />
      </figure>
    </div>

    <div class="column is-4 has-text-centered-mobile is-size-3 rel">
      <ul class="green float-down-desktop">
        <li>Blocks Inflammation</li>
        <li>Protects Brain Function</li>
        <li>Stimulates Detoxing</li>
      </ul>
    </div>
    <div class="column is-3 rel is-hidden-touch">
      <button class="float-down-desktop-button button is-link is-large right" onclick="window.location.href='/collections/shop/products/brocelite-plus'" >I WANT TO BE PAIN FREE</button>
    </div>
    <div class="column is-2 is-hidden-desktop has-text-centered">
      <button class="button is-link is-large" onclick="window.location.href='/collections/shop/products/brocelite-plus'" >I WANT TO BE PAIN FREE</button>
    </div>
  </div>
</div>
</div>
</div>

<div class="position-down-spacer"></div>

<div class="broccoli-spr">
  <div class="columns flex-centered-vertical">
    <div class="column marketing_text has-text-centered">
      <p class="no-margin">Sulforaphane is the <span class="gold">gold</span> in broccoli</p>
      <p class="no-margin">and it's water-soluble.</p>
    </div>
  </div>
</div>

<div class="blank_slide">
  <div class="columns flex-centered-vertical">
    <div class="column has-text-centered">
      <font class="is-size-4 is-uppercase green-text">
        What does it mean if a natural chemical is water-soluble?
      </font>
    </div>
  </div>
</div>

<div class="blue_slide is-hidden-desktop">
  <div class="columns flex-centered-vertical">

    <div class="column has-text-centered">
      <font class="is-size-5">
        Let's ask John, the scientist.  He is an expert in navigating the body with natural chemicals like broccoli.
      </font>
      <figure class="image ">
        <img src="{{ 'john-map.png' | asset_url }}" />
      </figure>
    </div>

  </div>
</div>

<div class="columns is-multiline">

  <div class="column is-4 has-text-centered is-hidden-touch blue_slide">
    <img src="{{ 'john-map-arrow.png' | asset_url }}" class="move-right" />
  </div>

  <div class="column is-6 is-offset-2 is-hidden-touch">
    <font class="is-size-3">
      Let's ask John, the scientist.  He is an expert in navigating the body with natural chemicals like broccoli.
    </font>

    <br /><br /><br />

    <font class="is-size-2 green-text">
      "Let me give you an example of something that is not water soluble, so we can fully understand the concept!"
    </font>
  </div>

</div>


<div class="columns">
  <div class="column has-text-centered-mobile">
    <font class="is-size-5 is-uppercase green-text is-hidden-desktop">
      What does it mean if a natural chemical is water-soluble?
    </font>
    <ol class="is-size-4 green">
      <li><span>1</span>Most natural chemicals, let's take curcumin (the active ingerdient in turmeric) for instance, are
        not absorbed into your body because they are not water soluble.</li>
      <li><span>2</span>Curcumin needs a receptor (another molecule it can attach to) to transport the chemical.
      The receptor helps your body to get the benefits of the curcumin molecule.</li>
      <li><span>3</span><b>If you didn't have the receptor, you wouldn't get any healthful benefits of the curcumin!</b></li>
    </ol>
  </div>
</div>

<div class="columns">
  <div class="column is-8 has-text-centered">
    <font class="is-size-1 is-uppercase green-text is-hidden-touch">
      John, can you paint a picture for us?
    </font>
    <br /><br />
    <font class="is-size-4 is-uppercase green-text is-hidden-desktop">
      Let's paint a picture.
    </font>
    <p class="is-size-4-desktop is-size-5-mobile">A human needs a sled to slide down a hill.  In this scenario the human would be curcumin and the sled would
    be the receptor.  If it doesn't have a sled, there will be no sledding.
    </p>
  </div>
  <div class="column is-4 has-text-centered">
  <figure class="image is-hidden-touch">
    <img src="{{ 'john-paint.png' | asset_url }}" />
  </figure>
  </div>
</div>

<div class="columns">
  <div class="column is-4 is-offset-1 has-text-centered">
    <figure class="image">
      <img src="{{ 'curcumin-sled-mobile.png' | asset_url }}" />
    </figure>
  </div>
  <div class="column is-7 has-text-centered">
    <font class="is-size-3 green-text">
      Curcumin can't get anywhere without a receptor (or sled).
    </font>
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <p class="is-size-4">
      Sulforaphane (SFN) is easy for your body to absorb, and doesn't need a recepror to get into your bloodstream.
      SFN was meant to sled down hills a.k.a get absorbed into your body easily.  It's purpose is to go into the
      cell and actively stop inflammation in all parts of the body because that is what it was made to do.
    </p>
  </div>
</div>

<div class="columns">
  <div class="column is-4 is-offset-1  has-text-centered">
    <figure class="image">
      <img src="{{ 'pill-sled-mobile.png' | asset_url }}" />
    </figure>
  </div>
  <div class="column is-7 has-text-centered">
    <font class="is-size-3 green-text">
      Sulforaphane, the gold in broccoli, was made to sled into your cells!
    </font>
  </div>
</div>

<div class="columns ">
  <div class="column is-4 has-text-centered">
    <figure class="image">
      <img src="{{ 'pills-mobile.png' | asset_url }}" />
    </figure>
  </div>
  <div class="column is-8 has-text-centered">
    <p class="is-size-3">
      Now you know that sulforaphane (SFN) has some truly amazing health benefits.  In over 2,000 scientific articles,
      scientists have discovered there are 39 distinct pro-health benefits in sulforaphane.
    </p>

    <button class="button is-link is-large m-top-2" onclick="window.location.href='/collections/shop/products/brocelite-plus'" >FIGHT YOUR INFLAMMATION NOW!</button>

  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <p class="is-size-3">
      Now you are probably wondering...
    </p>

    <font class="is-size-2 is-uppercase green-text">
      If this is so great for you, why has no one heard of it?
    </font>

    <br /><br />

    <font class="is-size-3">
      Let's ask John.
    </font>
  </div>
</div>

  <figure class="image is-hidden-desktop">
    <img src="{{ 'john-hugging-bottle.png' | asset_url }}" />
  </figure>

<div class="is-hidden-touch spacer-15">
</div>


<div class="blue_slide">
  <div class="columns flex-centered-vertical">

    <div class="column is-hidden-touch">
      <figure class="image negative-top-margin">
        <img src="{{ 'john-hugging-bottle.png' | asset_url }}" />
      </figure>
    </div>

    <div class="column">
      <font class="is-size-3">
        Sulforaphane's biggest challenge is its stability.
      </font>
      <br /><br />
      <font class="is-size-3 green-text">
        But we figured it out.
      </font>
    </div>
  </div>
  <div class="columns flex-centered-vertical">
    <div class="column add-padding">

      <p class="is-size-4">
        No one was able to figure out how to put actual sulforaphane (SFN) into a capsule.  Other supplements
        only have the <i>ingredients</i> to make sulforaphane, which isn't very effective.  You need actual
        sulforaphane in the capsule in order to get the health benefits.
      </p>

      <p class="is-size-4">
        I decided to give it a try because a dear friend of mine really needed the benefits it offers.
      </p>
      <p class="is-size-4">
        I was able to stabilize it so she could easiy take it.  The stuff smells awful, so the capsule helps.
      </p>
      <p class="is-size-4">
        I was able to help her and want to help other people who need this too.
      </p>
      <center>
      <font class="is-size-4 green-text">
        Problem solved!
      </font>
      </center>

    </div>
  </div>
</div>
<div class="very-light-bg">
  <div class="columns">
    <div class="column has-text-centered">
      <p class="is-size-2-desktop is-size-4-mobile">One of the only ways you could get <font class="green-text is-bold">Sulforaphane</font> before was <font class="green-text is-bold">broccoli sprouts</font>.</p>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
  <figure class="image is-marginless">
    <img src="{{ 'sprouts-bg.jpg' | asset_url }}" />
  </figure>
  </div>
</div>


<div class="columns">
  <div class="column is-half is-offset-one-quarter has-text-centered m-bottom">
    <button class="button is-link is-large" onclick="window.location.href='/collections/shop/products/brocelite-plus'" >I WANT TO BE PAIN FREE</button>
  </div>
</div>


<div class="columns is-multiline">

  <div class="column is-4 rel-400 is-hidden-desktop has-text-centered">
    <font class="is-size-2 green-text">
      Learn About the Benefits
    </font>
  </div>

  <div class="column is-4 rel-400 very-light-bg is-hidden-touch">
    <font class="is-size-2 green-text">
      Sulforaphane Benefits
    </font>
  </div>

  <div class="column is-4 has-text-centered">
    <img src="{{ 'icon-fire.png' | asset_url }}" />
    <p>
      <font class="is-size-5 is-uppercase green-text">
        Inflammation
      </font>
    </p>
    <p>
      Sulforaphane (SFN) blocks the chronic, unhealthy form of inflammation.  Medical studies show that chronic inflammation causes a range of disease, including
      heart disease, depression, and even dementia.  SFN works in two ways; it both blocks the proinflammatory pathway known as NF-kB and promotes the anti-inflammatory
      pathway known as Nrf-2.
    </p>
  </div>

  <div class="column is-4 has-text-centered very-light-bg">
    <img src="{{ 'icon-brain.png' | asset_url }}" />
    <p>
      <font class="is-size-5 is-uppercase green-text">
        Protects Brain Function
      </font>
    </p>
    <p>
      Sulforaphane (SFN) travels to the brain to support the survival of existing neurons and to encourage the formation of new neurons.  Nrf-2 is the "on switch"
      for protecting against oxidative damage and inflammation.  SFN is the strongest natural stimulator of the Nrf-2 pathway.  Low Nrf-2 functioning is linked to
      neurodegenerative disease like Parkinson's and Alzheimer's.
    </p>
  </div>

  <div class="column is-4 has-text-centered">
    <img src="{{ 'icon-circle-arrows.png' | asset_url }}" />
    <p>
      <font class="is-size-5 is-uppercase green-text">
        Encourages Detoxification
      </font>
    </p>
    <p>
      Sulforaphane (SFN) works in all three phases of detoxification.  In Phase 1, the toxin is inactivated by the liver.  In Phase 2, the toxin is altered to make
      it water soluble so it can return to the blood serum.  And in Phase 3, the toxin is bound and eliminated through excretion.  SFN is the most potent known natural
      Phase 2 detoxifier.
    </p>
  </div>

  <div class="column is-4 has-text-centered very-light-bg">
    <img src="{{ 'icon-virus.png' | asset_url }}" />
    <p>
      <font class="is-size-5 is-uppercase green-text">
        Antiviral
      </font>
    </p>
    <p>
      Sulforaphane (SFN) enhances human antiviral response by reducing viral load in viruses such as influenzz (the Flu), HIV, Epstein-Barr, and the hepatitis C virus.
      Additionally, in one study, 23 out of 28 tested bacterial and fungal species were killed by sulforaphane.
    </p>
  </div>

  <div class="column is-4 has-text-centered">
    <img src="{{ 'icon-superman.png' | asset_url }}" />
    <p>
      <font class="is-size-5 is-uppercase green-text">
        Powerful Antioxidant
      </font>
    </p>
    <p>
      Sulforaphane (SFN) is a powerful antioxidant and prevents the cellular damage caused by excessive oxidation or "rusting" in the body.  Oxidaton in your body is bad
      and leads to cellular damage that causes aging.  Unlike other antioxidants which last hours, SFN is long-acting, lasting three days.  SFN is the hero we have been
      waiting for!
    </p>
  </div>


</div>


<div class="columns">
  <div class="column">

  </div>
</div>
